<div fxLayout="row wrap" fxLayoutAlign="start center"  class="contact-header">
  <div fxFlex="8" fxFlex.xs="12" fxFlexAlign="center" class="contact-icon">
    <mat-icon svgIcon="contact-book"></mat-icon>
  </div>

  <div fxFlex="20" fxFlex.xs="50" fxFlexAlign="center" class="pl-2">
        <div style="float: left;padding-left: 10px; font-size: 22px;">
          <span>Contacts</span>
        </div>
  </div>

  <div fxFlex fxFlex.xs="100"  fxFlexAlign="center">
    <span class="pr-1">Sort By :</span>
    <span class="pl10">
      <mat-form-field >
        <mat-select [formControl]="sortControl">
          <mat-option value="date">Date Created</mat-option>
          <mat-option value="name">Name</mat-option>
          <mat-option value="company">Company</mat-option>
          <mat-option value="mail">Mail Address</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>

</div>
