.chat-header {
  background-color:#8963cc;
  min-height: 50px;
  font-size: 18px;
  font-weight: 400;
  text-indent: 15px;
  position: relative;
}

.close-chat {
  position: absolute;
    right: 27px;
    top: 13px;
}
