*{
  margin: 0px;
  padding: 0px;
}


.example-container {
  height: calc(100vh - 50px);
}

.main-search {
  padding: 10px 0px 10px 20px;

}

.container {
  padding: 0px;
  background-color: lightblue;
}

.add-content {
  font-size: 14px;
}

.navigation-icon {
  font-size: 20px;
  padding-right: 15px;
}

.active {
  border-left: 2px solid darkred;
}

.vertical-menu {
  background-color: coral;
}

.top-bar {
  background-color: darkgoldenrod;
}





