*{
  margin: 0px;
  padding: 0px;
}


.example-container {
  height: calc(100vh - 50px);
}

.main-search {
  padding: 10px 0px 10px 20px;

}

.container {
  padding: 0px;
}

.add-content {
  font-size: 14px;
}

.navigation-icon {
  font-size: 20px;
  padding-right: 15px;
}

.active {
  border-left: 2px solid darkred;
}

.vertical-menu {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fa8968+46,ea6fa3+100 */
    background: #fa8968; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #fa8968 46%,
      #ea6fa3 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #fa8968 46%,
      #ea6fa3 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #fa8968 46%,
      #ea6fa3 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.top-bar {
  background-color: #fff;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25);
  min-height: 40px;
  // margin: 0 -15px 30px -15px;
}







