.contacts-container {
  height: calc(100vh - 50px);
}

.contact-view {
  min-height: 530px;
  background-color:rgba(216, 216, 216, 0.87);;
  margin: 20px;
  position: relative;
  border-radius: 5px;
}

.search-bar {
    min-width: 150px;
    max-width: 350px;
    padding-left: 20px;
}

.add-contact {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fa8968+46,ea6fa3+100 */
  background: #fa8968; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #fa8968 46%,
    #ea6fa3 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #fa8968 46%,
    #ea6fa3 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fa8968 46%,
    #ea6fa3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


