.contacts-container {
  height: calc(100vh - 50px);
}

.contact-view {
  min-height: 550px;
  background-color:#0000000a;
  margin-left: 20px;
  position: relative;
  border-radius: 5px;
}

.search-bar {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
    padding-left: 20px;
}



