<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px">
<!-- Contact Header -->
<div fxFlex="60" fxFlex.lt-lg="100">
  <!-- Contact Label and Header -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <app-contact-header></app-contact-header>
  </div>

<!-- Contact Search and Actions -->

  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap.fxLayoutGap.lt-lg="10px" fxLayoutAlign.lt-lg="start center">
    <div fxFlex="50" fxFlex.lt-lg="40">
      <mat-form-field  appearance="outline" class="search-bar">
        <input type="text"
               placeholder="Search contacts"
               matInput
               [formControl]="searchControl"
               [matAutocomplete]="auto">
               <mat-icon matPrefix class="pointer">search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let c of filteredContacts | async" [value]="c">
            {{c.firstName}} {{ c.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div fxFlex fxFlex.lt-lg="30">
      <button mat-raised-button class="add-contact" (click)="createContact()" [disabled]="selectedCount > 0" matTooltip="Add Contact">
        <i class="material-icons">add</i>
        Add Contact
      </button>
    </div>

    <div fxFlex fxFlex.lt-lg="30" *ngIf="selectedCount > 0">
      <button mat-raised-button  color="warn" (click)="deleteContacts()" matTooltip="Delete Contact">
        <i class="material-icons">delete</i>
        Delete Contact(s)
      </button>
    </div>
  </div>

  <!-- Contact List Details -->
 <div>
  <app-contact-list
  fxFlex
  [contacts]="contacts"
  (contactSelectionChange)="contactSelectionChange($event)"
  (editClicked)="editContact($event)"
  (deleteClicked)="deleteContact($event)"
  (sendMessage)="sendMessageTo($event)"
  ></app-contact-list>
 </div>
</div>


<!-- Contact Display Information -->
 <div fxFlex="30" fxFlex.lt-lg="100" class="contact-view" [hidden]="!selectedContact">
  <app-contact-information *ngIf="selectedContact" [contactSelected]="this.selectedContact"></app-contact-information>
 </div>
</div>
