/* You can add global styles to this file, and also import other style files */
@import "./assets//styles/_spaces";

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}


.custom-dialog-container .mat-dialog-container {
  padding: 0px;
}

.custom-dialog-container .mat-form-field-wrapper {
  padding: 0px;
}
