<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Add Column -->
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef>
        <i class="material-icons">add</i>
      </th>
      <td mat-cell *matCellDef="let element" style="width: 60px;">
        <mat-checkbox [id]="element.contactId" [checked]="element.isSelected" (change)="contactSelectionChange.emit({ checked: $event.checked, contact: element})"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Basic Info Column -->
    <ng-container matColumnDef="basicInfo">
      <th mat-header-cell *matHeaderCellDef> Basic Info </th>
      <td mat-cell *matCellDef="let element" style="width: 500px;">
        <div>
          <span class="avatar">
            <ngx-avatar size="40"  name="{{ element.firstName}} {{ element.lastName}}"></ngx-avatar>
          </span>
          <span class="text-info">
            <span class="full-Name">
              {{ element.firstName}} {{ element.lastName}}
            </span>
              <span class="email-address" >
                {{ element.emailAddress}}
              </span>
          </span>

        </div>
      </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let element">
        <span class="company">
          {{ element.company}}
        </span>
         </td>
    </ng-container>

    <!-- Chat Column -->
    <ng-container matColumnDef="chat">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
          <i class="material-icons pointer">mail</i>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <i class="material-icons pointer" (click)="editClicked.emit(element)">edit</i>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
          <i class="material-icons pointer" (click)="deleteClicked.emit(element)">delete</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
